<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" name="itemName" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">
<!--            // note: th:field="${item.itemName}"를 사용하면 위처럼 id="itemName" name="itemName" value="객체값" 를 쓰지않아도 자동으로 만들어준다.-->
<!--            // note: th:object="${item}"을 사용했기때문에 th:field="${item.itemName}"을 th:field="*{itemName}" 으로 축약할 수 있다. -->
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">

        <hr class="my-4">
        <!-- single checkbox -->
<!--        // note: th:field 없이 checkbox 처리할때 -->
<!--        <div>판매 여부</div>-->
<!--        <div>-->
<!--            <div class="form-check">-->
<!--                <input type="checkbox" id="open" name="open" class="form-check-input"> &lt;!&ndash; note: html checkbox 엘리먼트는 check하지 않으면 서버로 open value가 false가 되어서 서버를 호출하지 않는다. 단 체크하면 open value는 ture가 되어서 서버를 호출함 &ndash;&gt;-->
<!--                <input type="hidden" name="_open" value="on"/> &lt;!&ndash; 히든 필드 추가 &ndash;&gt; &lt;!&ndash; note: checkbox 엘리먼트에서 check하지 않았을때 서버로 open value가 false가 되어서 서버를 호출하려면 이 라인을 추가해야한다. (type은 hidden으로 만들고 name에는 앞에 "_"를 붙였다. &ndash;&gt;-->
<!--                <label for="open" class="form-check-label">판매 오픈</label>-->
<!--            </div>-->
<!--        </div>-->

<!--        // note: th:field로 checkbox 처리할때 -->
        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input"> <!-- // note: th:field를 checkbox에서 사용하면 46라인처럼 히든 필드를 추가할 필요가 없다. -->
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}"
                       class="form-check-input">
                <label th:for="${#ids.prev('regions')}"
                       th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div>상품 종류</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>

        <!-- SELECT -->
        <div>
            <div>배송 방식</div>
            <select th:field="*{deliveryCode}" class="form-select">
                <option value="">==배송 방식 선택==</option>
                <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}" th:text="${deliveryCode.displayName}">FAST</option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>